<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="./playground.css" />
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/Home_Page.css"/>
<script id="applicationScript" type="text/javascript" src="/Home_Page.js"></script>
</head>
<body>
<div id="Home_Page" class="Home_Page_Class">
	<img class="mi_beard_trimmer-removebg-prev_Class" src="mi_beard_trimmer-removebg-prev.png" srcset="mi_beard_trimmer-removebg-prev.png 1x">
	<!-- <svg class="Main_Glass">
		<rect class="Main_Glass_Class" rx="0" ry="0" x="0" y="0" width="960" height="1074">
		</rect>
	</svg> -->
	<div class="Buy_Now_Class">
		<svg class="Rectangle_6_u">
			<linearGradient id="Rectangle_6_u" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#421888" stop-opacity="1"></stop>
			</linearGradient>
			<rect class="Rectangle_6_u_Class" rx="0" ry="0" x="0" y="0" width="156" height="55">
			</rect>
		</svg>
		<div class="Buy_Now_v_Class">
			<span>Buy Now</span>
		</div>
	</div>
	<div class="Nav_Bar_Class">
		<div class="Overview_Class">
			<span onclick="location.href='/'">Home</span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Specs_Class">
			<span>Specs</span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Review_Class">
			<span>Review</span>
		</div>
		<% if(!LoggedIn){ %>
		<div onclick="application.goToTargetView(event)" class="Sign_in_Class">
		<a href="/register">	<span>Sign in</span></a>
		</div>
		<% } %>
		<% if(LoggedIn){ %>
			<div class="Log_in_Class">
				<a href="/logout"><span>Log out</span></a>
			</div>
		<% }else{ %>
		<div class="Log_in_Class">
			<a href="/login"><span>Log in</span></a>
		</div>
		<% } %>
		<div onclick="application.goToTargetView(event)" class="cart_Class">
			<svg class="Rectangle_11_">
				<linearGradient id="Rectangle_11_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
					<stop offset="0.6091" stop-color="#392ec1" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#4218b8" stop-opacity="1"></stop>
				</linearGradient>
				<rect class="Rectangle_11__Class" rx="27.5" ry="27.5" x="0" y="0" width="124" height="55">
				</rect>
			</svg>
			<div class="Cart_0_Class">
				<span onclick="location.href='/cart'">Cart (<%= number %>)</span>
			</div>
			<div class="Icon_feather-shopping-cart_Class">
				<svg class="Path_1" viewBox="12 30 3 3">
					<path class="Path_1_Class" d="M 15 31.5 C 15 32.32842636108398 14.3284273147583 33 13.5 33 C 12.6715726852417 33 12 32.32842636108398 12 31.5 C 12 30.67157363891602 12.6715726852417 30 13.5 30 C 14.3284273147583 30 15 30.67157363891602 15 31.5 Z">
					</path>
				</svg>
				<svg class="Path_2" viewBox="28.5 30 3 3">
					<path class="Path_2_Class" d="M 31.5 31.5 C 31.5 32.32842636108398 30.82842636108398 33 30 33 C 29.17157363891602 33 28.5 32.32842636108398 28.5 31.5 C 28.5 30.67157363891602 29.17157363891602 30 30 30 C 30.82842636108398 30 31.5 30.67157363891602 31.5 31.5 Z">
					</path>
				</svg>
				<svg class="Path_3" viewBox="1.5 1.5 25.598 16.441">
					<path class="Path_3_Class" d="M 1.5 1.5 L 6.154252052307129 1.5 L 9.272602081298828 16.17605209350586 C 9.492209434509277 17.21754837036133 10.47268199920654 17.96103096008301 11.59972858428955 17.9406852722168 L 22.90956115722656 17.9406852722168 C 24.03660774230957 17.96103096008301 25.01708030700684 17.21754837036133 25.23668670654297 16.17605209350586 L 27.098388671875 6.980228424072266 L 7.31781530380249 6.980228424072266">
					</path>
				</svg>
			</div>
		</div>
	</div>
	<div class="home_specs_Class">
		



		<section>
			<div class="container">
			  <div class="card">
				<div class="content">
				  <div class="imgBx">
					<img src="pic 1.png" />
				  </div>
				  <div class="contentBx">
					<h3>Iron Man<br /><span>Team Avenger</span></h3>
				  </div>
				</div>
				<ul class="sci">
				  <li>
					<a href="#"><i class="fab fa-facebook"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-twitter"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-instagram"></i> </a>
				  </li>
				</ul>
			  </div>
		
			  <div class="card">
				<div class="content">
				  <div class="imgBx">
					<img src="pic3.png" />
				  </div>
				  <div class="contentBx">
					<h3>thor<br /><span>Team Avenger</span></h3>
				  </div>
				</div>
				<ul class="sci">
				  <li>
					<a href="#"><i class="fab fa-facebook"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-twitter"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-instagram"></i> </a>
				  </li>
				</ul>
			  </div>
		
			  <div class="card">
				<div class="content">
				  <div class="imgBx">
					<img src="pic4.png" />
				  </div>
				  <div class="contentBx">
					<h3>Hulk<br /><span>Team Avenger</span></h3>
				  </div>
				</div>
				<ul class="sci">
				  <li>
					<a href="#"><i class="fab fa-facebook"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-twitter"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-instagram"></i> </a>
				  </li>
				</ul>
			  </div>
			  <div class="card">
				<div class="content">
				  <div class="imgBx">
					<img src="pic5.png" />
				  </div>
				  <div class="contentBx">
					<h3>thor<br /><span>Team Avenger</span></h3>
				  </div>
				</div>
				<ul class="sci">
				  <li>
					<a href="#"><i class="fab fa-facebook"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-twitter"></i> </a>
				  </li>
				  <li>
					<a href="#"><i class="fab fa-instagram"></i> </a>
				  </li>
				</ul>
			  </div>
			  <div class="card">
				<div class="content">
				  <div class="imgBx">
					<img src="pic 7.png" />
				  </div>
				  <div class="contentBx">
					<h3>thor<br /><span>Team Avenger</span></h3>
				  </div>
				</div>
				<p class="sci">
				</p>
				
			  </div>
			  
			</div>
		  </section>

		<!-- <div class="container">
  
			<div class="card">
			  <img src="pic 1.png" class="img">
			  <div class="content">
			   
				<h2>01</h2>
				<p>POWERFUL BATTERY</p>
			  </div>
			</div>
			
			<div class="card">
			  <img src="pic 1.png" class="img">
			  <div class="content">
				<h2>02</h2>
				<p>40 LENGTH SETTINGS</p>
			  </div>
			</div>
			
			<div class="card">
			  <img src="pic2.png" class="img">
			  <div class="content">
				<h2>03</h2>
				<p>STAINLESS STEEL BLADES</p>
			  </div>
			</div>
			<div class="card">
			  <img src="pic3.png" class="img">
			  <div class="content">
				<h2>04</h2>
				<p>TRAVEL LOCK</p>
			  </div>
			</div>
			
			<div class="card">
			  <img src="pic4.png" class="img">
			  <div class="content">
				<h2>05</h2>
				<p>PERFECT GRIP</p>
			  </div>
			</div>
			
			<div class="card">
			  <img src="pic 7.png" class="img">
			  <div class="content">
				<h2>06</h2>
				<p>IPX7 WATERPROOF</p>
			  </div>
			</div>
			
			
		  </div> -->















		<svg class="Rectangle_14">
			<rect class="Rectangle_14_Class" rx="0" ry="0" x="0" y="0" width="1920" height="374">
			</rect>
		</svg> 
		 <svg class="Rectangle_15">
			<rect class="Rectangle_15_Class" rx="0" ry="0" x="0" y="0" width="2126" height="467">
			</rect>
		</svg>
		<!-- <div class="Repeat_Grid_3_Class">
			<div class=" Repeat_Grid_3_0_Class">
				<svg class="Rectangle_7">
					<rect class="Rectangle_7_Class" rx="47" ry="47" x="0" y="0" width="263" height="170">
					</rect>
				</svg>
			</div>
			<div class=" Repeat_Grid_3_1_Class">
				<svg class="Rectangle_7_bh">
					<rect class="Rectangle_7_bh_Class" rx="47" ry="47" x="0" y="0" width="263" height="170">
					</rect>
				</svg>
			</div>
			<div class=" Repeat_Grid_3_2_Class">
				<svg class="Rectangle_7_bj">
					<rect class="Rectangle_7_bj_Class" rx="47" ry="47" x="0" y="0" width="263" height="170">
					</rect>
				</svg>
			</div>
			<div class=" Repeat_Grid_3_3_Class">
				<svg class="Rectangle_7_bl">
					<rect class="Rectangle_7_bl_Class" rx="47" ry="47" x="0" y="0" width="263" height="170">
					</rect>
				</svg>
			</div>
			<div class=" Repeat_Grid_3_4_Class">
				<svg class="Rectangle_7_bn">
					<rect class="Rectangle_7_bn_Class" rx="47" ry="47" x="0" y="0" width="263" height="170">
					</rect>
				</svg>
			</div>
			<div class=" Repeat_Grid_3_5_Class">
				<svg class="Rectangle_7_bp">
					<rect class="Rectangle_7_bp_Class" rx="47" ry="47" x="0" y="0" width="263" height="170">
					</rect>
				</svg>
			</div>
		</div> -->
		<!-- <div class="Repeat_Grid_4_Class">
			<div class=" Repeat_Grid_4_0_Class">
				<div class="ID40_Length__Settings_Class">
					<span>40 Length <br/>Settings</span>
				</div>
			</div>
			<div class=" Repeat_Grid_4_1_Class">
				<div class="Stainless_Steel_Blade_Class">
					<span>Stainless Steel<br/>Blade</span>
				</div>
			</div>
			<div class=" Repeat_Grid_4_2_Class">
				<div class="Powerful__Battery_Class">
					<span>Powerful <br/>Battery</span>
				</div>
			</div>
			<div class=" Repeat_Grid_4_3_Class">
				<div class="Corded__Cordless_use_Class">
					<span>Corded/<br/> Cordless use</span>
				</div>
			</div>
			<div class=" Repeat_Grid_4_4_Class">
				<div class="IPX7__waterproof_Class">
					<span>IPX7 <br/>waterproof</span>
				</div>
			</div>
			<div class=" Repeat_Grid_4_5_Class">
				<div class="Perfect__Grip_Class">
					<span>Perfect<br/> Grip</span>
				</div>
			</div>
			<div class=" Repeat_Grid_4_6_Class">
				<div class="ID40_Length__Settings_b_Class">
					<span>40 Length <br/>Settings</span>
				</div>
			</div> 
		</div>-->
	</div>
	<div class="MI_BEARD_TRIMMER_Class">

		<div class="container1">
			<div class="center">
				<h1 class="apple">MI TRIMMER GEN Z</h1>
			</div>
		</div>
		<div class="links">
			<a href="https://steamcommunity.com/id/CurtLiom/" target="_blank"><i class="fab fa-steam-symbol fa-3x"></i></a>
		
			<a href="https://www.youtube.com/channel/UC04VELeibs5M9Picqi5R9-w?" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
		</div>




		
	</div>
	<div class="made_for_the_mordern_man_Class">
		<svg class="Rectangle_56">
			<rect class="Rectangle_56_Class" rx="0" ry="0" x="0" y="0" width="73" height="1">
			</rect>
		</svg>
		<svg class="Ellipse_4">
			<ellipse class="Ellipse_4_Class" rx="5.5" ry="6.5" cx="5.5" cy="6.5">
			</ellipse>
		</svg>
		<div class="MADE_FOR_THE_MORDERN_MAN_b_Class">
			<span>MADE FOR THE MORDERN MAN</span>
		</div>
	</div>
	<div class="Rs_1399________Rs_1499__Class">
		<span>Rs. 1,199        </span><span style="font-size:25px;"></span><br>
	</div>
	
	<div class="NEW_LAUNCH_Class">
		<svg class="Path_4_ce" viewBox="0 0 259 83">
			<linearGradient id="Path_4_ce" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#4218b8" stop-opacity="1"></stop>
			</linearGradient>
			<path class="Path_4_ce_Class" d="M 0 0 L 259 0 L 189.746826171875 41.27410888671875 L 259 83 L 0 83 L 0 0 Z">
			</path>
		</svg>
		<div class="NEW_LAUNCH_cf_Class">
			<span>NEW<br/>LAUNCH</span>
		</div>
	</div>
	<div class="productsclass_Class">


		<div class="wrapper">
			<div class="card1">
			  <div class="front">
				<h1>MI Gen Z Trimmer</h1>
				<p class="price">RS 1,199.00</p>
			  </div>
			  <div class="right">
				<h2>MI Gen Z Trimmer</h2>
				<ul>
				  <br>
				  <br>
				  <li>20 Length Settings</li>
				  <li>600Mah Battery</li>
				  <li>1 year warranty</li>
				</ul>
				<button>Add to cart</button>
			  </div>
			</div>
			<div class="img-wrapper">
				 <img src='mi_beard_trimmer-removebg-prev.png' alt=''>    
			</div>
		  </div>
		  <div class="wrapper">
			<div class="card1">
			  <div class="front">
				<h1>MI Trimmer 2C</h1>
				<p class="price">RS 1,399.00</p>
			  </div>
			  <div class="right">
				<h2>MI Trimmer 2C</h2>
				<ul>
					<br>
					<br>
					<li>15 Length Settings</li>
					<li>500Mah Battery</li>
					<li>9 year warranty</li>
				</ul>
				<button onclick="location.href='/addProduct/trimmer1/1'">Add to cart</button>
			  </div>
			</div>
			<div class="img-wrapper">
				 <img src='mi_beard_trimmer-removebg-prev.png' alt=''>    
			</div>
		  </div>
		  <div class="wrapper">
			<div class="card1">
			  <div class="front">
				<h1>MI Trimmer 1C</h1>
				<p class="price">RS 899.00</p>
			  </div>
			  <div class="right">
				<h2>MI Trimmer 1C</h2>
				<ul>
					<br>
					<br>
					<li>10 Length Settings</li>
					<li>400Mah Battery</li>
					<li>9 year warranty</li>
				</ul>
				<button onclick="location.href='/addProduct/trimmer2/1'"> Add to cart</button>
			  </div>
			</div>
			<div class="img-wrapper">
				 <img src='mi_beard_trimmer-removebg-prev.png' alt=''>    
			</div>
		  </div>
		  



		<!-- <div class="PROD_1_Class">
			<svg class="Rectangle_66">
				<rect class="Rectangle_66_Class" rx="67" ry="67" x="0" y="0" width="671" height="805">
				</rect>
			</svg>
			<svg class="Ellipse_16_ck">
				<linearGradient id="Ellipse_16_ck" spreadMethod="pad" x1="0" x2="0.954" y1="0.5" y2="0.5">
					<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
					<stop offset="0.0368" stop-color="#138feb" stop-opacity="1"></stop>
					<stop offset="0.1138" stop-color="#1589e8" stop-opacity="1"></stop>
					<stop offset="0.2343" stop-color="#206fdd" stop-opacity="1"></stop>
					<stop offset="0.4552" stop-color="#275cd5" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#4218b8" stop-opacity="1"></stop>
				</linearGradient>
				<ellipse class="Ellipse_16_ck_Class" rx="208" ry="196" cx="208" cy="196">
				</ellipse>
			</svg>
			<img class="mi_beard_trimmer-removebg-prev_cl_Class" src="mi_beard_trimmer-removebg-prev_cl.png" srcset="mi_beard_trimmer-removebg-prev_cl.png 1x">
			<svg class="Rectangle_67_cn">
				<linearGradient id="Rectangle_67_cn" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#4218b8" stop-opacity="1"></stop>
				</linearGradient>
				<rect class="Rectangle_67_cn_Class" rx="51.5" ry="51.5" x="0" y="0" width="408" height="103">
				</rect>
			</svg>
			<div class="MI_BEARD_TRIMMER_co_Class">
				<span>MI BEARD TRIMMER</span>
			</div>
			<div class="Icon_feather-shopping-cart_cp_Class">
				<svg class="Path_11" viewBox="12 30 3 3">
					<path class="Path_11_Class" d="M 15 31.5 C 15 32.32842636108398 14.3284273147583 33 13.5 33 C 12.6715726852417 33 12 32.32842636108398 12 31.5 C 12 30.67157363891602 12.6715726852417 30 13.5 30 C 14.3284273147583 30 15 30.67157363891602 15 31.5 Z">
					</path>
				</svg>
				<svg class="Path_12" viewBox="28.5 30 3 3">
					<path class="Path_12_Class" d="M 31.5 31.5 C 31.5 32.32842636108398 30.82842636108398 33 30 33 C 29.17157363891602 33 28.5 32.32842636108398 28.5 31.5 C 28.5 30.67157363891602 29.17157363891602 30 30 30 C 30.82842636108398 30 31.5 30.67157363891602 31.5 31.5 Z">
					</path>
				</svg>
				<svg class="Path_13" viewBox="1.5 1.5 33 22.501">
					<path class="Path_13_Class" d="M 1.5 1.5 L 7.5 1.5 L 11.52000045776367 21.58499908447266 C 11.80310535430908 23.01034736633301 13.06707572937012 24.0278434753418 14.52000045776367 24 L 29.10000038146973 24 C 30.55292510986328 24.0278434753418 31.81689453125 23.01034545898438 32.09999847412109 21.58499908447266 L 34.5 9 L 9 9">
					</path>
				</svg>
			</div>
			<div class="Add_to_cart_Class">
				<span>Add to cart</span>
			</div>
		</div>
		<div class="PROD_2_Class">
			<svg class="Rectangle_68">
				<rect class="Rectangle_68_Class" rx="67" ry="67" x="0" y="0" width="671" height="805">
				</rect>
			</svg>
			<svg class="Ellipse_17_cx">
				<linearGradient id="Ellipse_17_cx" spreadMethod="pad" x1="0" x2="0.954" y1="0.5" y2="0.5">
					<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
					<stop offset="0.0368" stop-color="#138feb" stop-opacity="1"></stop>
					<stop offset="0.1138" stop-color="#1589e8" stop-opacity="1"></stop>
					<stop offset="0.2343" stop-color="#206fdd" stop-opacity="1"></stop>
					<stop offset="0.4552" stop-color="#275cd5" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#4218b8" stop-opacity="1"></stop>
				</linearGradient>
				<ellipse class="Ellipse_17_cx_Class" rx="208" ry="196" cx="208" cy="196">
				</ellipse>
			</svg>
			<img class="mi_beard_trimmer-removebg-prev_cy_Class" src="mi_beard_trimmer-removebg-prev_cy.png" srcset="mi_beard_trimmer-removebg-prev_cy.png 1x">
			<div class="MI_BEARD_TRIMMER_1C_Class">
				<span>MI BEARD TRIMMER 1C</span>
			</div>
			<div class="Dark_Card Dark_Card_Class">
				<svg class="Neuo_dark_shade">
					<rect class="Neuo_dark_shade_Class" rx="49" ry="49" x="0" y="0" width="358" height="113">
					</rect>
				</svg>
				<svg class="Neuo_white_shade">
					<rect class="Neuo_white_shade_Class" rx="49" ry="49" x="0" y="0" width="358" height="113">
					</rect>
				</svg>
				<svg class="Card">
					<rect class="Card_Class" rx="49" ry="49" x="0" y="0" width="358" height="113">
					</rect>
				</svg>
			</div>
		</div>
		<div class="Add_to_cart_c_Class">
			<span>Add to cart</span>
		</div>
		<div class="Icon_feather-shopping-cart_c_Class">
			<svg class="Path_14" viewBox="12 30 3 3">
				<path class="Path_14_Class" d="M 15 31.5 C 15 32.32842636108398 14.3284273147583 33 13.5 33 C 12.6715726852417 33 12 32.32842636108398 12 31.5 C 12 30.67157363891602 12.6715726852417 30 13.5 30 C 14.3284273147583 30 15 30.67157363891602 15 31.5 Z">
				</path>
			</svg>
			<svg class="Path_15" viewBox="28.5 30 3 3">
				<path class="Path_15_Class" d="M 31.5 31.5 C 31.5 32.32842636108398 30.82842636108398 33 30 33 C 29.17157363891602 33 28.5 32.32842636108398 28.5 31.5 C 28.5 30.67157363891602 29.17157363891602 30 30 30 C 30.82842636108398 30 31.5 30.67157363891602 31.5 31.5 Z">
				</path>
			</svg>
			<svg class="Path_16" viewBox="1.5 1.5 33 22.501">
				<path class="Path_16_Class" d="M 1.5 1.5 L 7.5 1.5 L 11.52000045776367 21.58499908447266 C 11.80310535430908 23.01034736633301 13.06707572937012 24.0278434753418 14.52000045776367 24 L 29.10000038146973 24 C 30.55292510986328 24.0278434753418 31.81689453125 23.01034545898438 32.09999847412109 21.58499908447266 L 34.5 9 L 9 9">
				</path>
			</svg>
		</div>-->
		<svg class="Path_17_da" viewBox="0 0 607.073 132.609">
			<linearGradient id="Path_17_da" spreadMethod="pad" x1="0" x2="0.79" y1="0.5" y2="0.5">
				<stop offset="0" stop-color="#00c0ff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#4218b8" stop-opacity="1"></stop>
			</linearGradient>
			<path class="Path_17_da_Class" d="M 0 0 L 607.072998046875 0 L 607.072998046875 0 L 607.072998046875 132.60888671875 L 0 132.60888671875 L 0 0 Z">
			</path>
		</svg>
		<div class="OUR_PRODUCTS_Class">
			<span>OUR PRODUCTS</span>
		</div> 
	</div>
	<div class="boxcont_class_Class">
		<img class="box_contents-removebg-preview_Class" src="box_contents-removebg-preview.png" srcset="box_contents-removebg-preview.png 1x">
		<div class="contents_Class">
			<div class="BOX_CONTENTS_dg_Class">
				<span>BOX CONTENTS</span>
			</div>
			<div class="BOX_CONTENTS_dg_Class">
				<span>BOX CONTENTS</span>
			</div>
		</div>
		<div class="travel_pouch_Class">
			<span>travel pouch</span>
		</div>
		<svg class="Line_4" viewBox="0 0 136 1">
			<path class="Line_4_Class" d="M 0 0 L 136 1">
			</path>
		</svg>
		<svg class="Ellipse_18">
			<ellipse class="Ellipse_18_Class" rx="6" ry="6.5" cx="6" cy="6.5">
			</ellipse>
		</svg>
		<div class="brush_Class">
			<span>brush</span>
		</div>
		<svg class="Line_5" viewBox="0 0 164 1">
			<path class="Line_5_Class" d="M 0 0 L 164 0">
			</path>
		</svg>
		<svg class="Ellipse_19">
			<ellipse class="Ellipse_19_Class" rx="6" ry="6.5" cx="6" cy="6.5">
			</ellipse>
		</svg>
		<svg class="Line_6" viewBox="0 0 206 1">
			<path class="Line_6_Class" d="M 206 0 L 0 0">
			</path>
		</svg>
		<svg class="Line_7" viewBox="0 0 190 1">
			<path class="Line_7_Class" d="M 190 0 L 0 0">
			</path>
		</svg>
		<svg class="Ellipse_20">
			<ellipse class="Ellipse_20_Class" rx="6" ry="6.5" cx="6" cy="6.5">
			</ellipse>
		</svg>
		<svg class="Ellipse_21">
			<ellipse class="Ellipse_21_Class" rx="6" ry="6.5" cx="6" cy="6.5">
			</ellipse>
		</svg>
		<div class="charging_cable_Class">
			<span>charging cable</span>
		</div>
		<div class="small_comb_Class">
			<span>small comb</span>
		</div>
		<div class="long_comb_Class">
			<span>long comb</span>
		</div>
		
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
		  <div class="swiper-slide">
			<div class="container-general">
			  <div class="gallery-wrap wrap-effect-1">
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	<div class="footer_Class">
		<div class="BOTTOM_Class">
			<svg class="Rectangle_1_copy_35">
				<rect class="Rectangle_1_copy_35_Class" rx="0" ry="0" x="0" y="0" width="1920" height="2">
				</rect>
			</svg>
			<div class="_2018_Ecommerce_theme_by_wwwbi_Class">
				<span>© 2018 Ecommerce theme by www.bisenbaev.com</span>
			</div>
			<div class="Brands_Class">
				<svg class="Shape_327_d" viewBox="1506.728 4889.874 38.33 25.142">
					<linearGradient id="Shape_327_d" spreadMethod="pad" x1="0.5" x2="0.5" y1="1" y2="0">
						<stop offset="0" stop-color="#e59703" stop-opacity="1"></stop>
						<stop offset="0.231" stop-color="#e59703" stop-opacity="1"></stop>
						<stop offset="0.2336" stop-color="#fff" stop-opacity="1"></stop>
						<stop offset="0.761" stop-color="#fff" stop-opacity="1"></stop>
						<stop offset="0.7664" stop-color="#5457bb" stop-opacity="1"></stop>
						<stop offset="1" stop-color="#5457bb" stop-opacity="1"></stop>
					</linearGradient>
					<path class="Shape_327_d_Class" d="M 1508.39453125 4889.87353515625 C 1508.39453125 4889.87353515625 1543.39111328125 4889.87353515625 1543.39111328125 4889.87353515625 C 1544.3115234375 4889.87353515625 1545.0576171875 4890.64990234375 1545.0576171875 4891.607421875 C 1545.0576171875 4891.607421875 1545.0576171875 4913.28125 1545.0576171875 4913.28125 C 1545.0576171875 4914.2392578125 1544.3115234375 4915.01513671875 1543.39111328125 4915.01513671875 C 1543.39111328125 4915.01513671875 1508.39453125 4915.01513671875 1508.39453125 4915.01513671875 C 1507.473876953125 4915.01513671875 1506.727905273438 4914.2392578125 1506.727905273438 4913.28125 C 1506.727905273438 4913.28125 1506.727905273438 4891.607421875 1506.727905273438 4891.607421875 C 1506.727905273438 4890.64990234375 1507.473876953125 4889.87353515625 1508.39453125 4889.87353515625 Z">
					</path>
				</svg>
				<svg class="Shape_328" viewBox="1512.371 4898.385 26.302 8.719">
					<path class="Shape_328_Class" d="M 1536.698486328125 4907.1044921875 L 1536.446166992188 4905.8095703125 L 1533.712158203125 4905.8095703125 L 1533.263549804688 4907.1044921875 L 1531.021850585938 4907.1044921875 L 1534.229248046875 4899.0390625 C 1534.229248046875 4899.0390625 1534.423706054688 4898.3896484375 1535.22216796875 4898.3896484375 C 1535.22216796875 4898.3896484375 1536.951416015625 4898.3896484375 1536.951416015625 4898.3896484375 L 1538.673217773438 4907.1044921875 L 1536.698486328125 4907.1044921875 Z M 1535.462036132813 4900.76025390625 L 1534.331787109375 4904.021484375 L 1536.097778320313 4904.021484375 L 1535.462036132813 4900.76025390625 Z M 1528.175048828125 4900.8740234375 C 1528.175048828125 4901.82568359375 1531.1767578125 4902.02978515625 1531.1767578125 4904.21923828125 C 1531.1767578125 4906.3271484375 1528.962158203125 4907.10205078125 1527.494750976563 4907.10205078125 C 1526.027099609375 4907.10205078125 1525.066772460938 4906.62646484375 1525.066772460938 4906.62646484375 C 1525.066772460938 4906.62646484375 1525.386840820313 4904.736328125 1525.386840820313 4904.736328125 C 1526.267333984375 4905.45654296875 1528.935546875 4905.6611328125 1528.935546875 4904.5185546875 C 1528.935546875 4903.3759765625 1525.960693359375 4903.3486328125 1525.960693359375 4901.1728515625 C 1525.960693359375 4898.86083984375 1528.4951171875 4898.38525390625 1529.5625 4898.38525390625 C 1530.5498046875 4898.38525390625 1531.496948242188 4898.75244140625 1531.496948242188 4898.75244140625 C 1531.496948242188 4898.75244140625 1531.190063476563 4900.5615234375 1531.190063476563 4900.5615234375 C 1530.269653320313 4900.04443359375 1528.175048828125 4899.921875 1528.175048828125 4900.8740234375 Z M 1521.590942382813 4907.1044921875 L 1522.93505859375 4898.3896484375 L 1525.086059570313 4898.3896484375 L 1523.74169921875 4907.1044921875 L 1521.590942382813 4907.1044921875 Z M 1516.43359375 4907.1044921875 C 1516.43359375 4907.1044921875 1514.567138671875 4899.5419921875 1514.567138671875 4899.5419921875 C 1514.874755859375 4899.73681640625 1515.191162109375 4899.95751953125 1515.507690429688 4900.2275390625 C 1517.001342773438 4901.5029296875 1517.488647460938 4903.0927734375 1517.488647460938 4903.0927734375 L 1517.488403320313 4903.0927734375 L 1517.73095703125 4904.38330078125 L 1519.781494140625 4898.3896484375 L 1522.096435546875 4898.3896484375 L 1518.674560546875 4907.1044921875 L 1516.43359375 4907.1044921875 Z M 1512.639770507813 4898.62841796875 C 1512.605346679688 4898.61767578125 1512.571899414063 4898.607421875 1512.542602539063 4898.5986328125 C 1512.573608398438 4898.60791015625 1512.602661132813 4898.61669921875 1512.639770507813 4898.62841796875 Z M 1512.41943359375 4898.5634765625 C 1512.404052734375 4898.5595703125 1512.383056640625 4898.5537109375 1512.371459960938 4898.55078125 C 1512.3857421875 4898.55419921875 1512.398559570313 4898.55810546875 1512.41943359375 4898.5634765625 Z M 1512.9482421875 4898.73388671875 C 1512.90185546875 4898.716796875 1512.861694335938 4898.703125 1512.81982421875 4898.68896484375 C 1512.862548828125 4898.70361328125 1512.900756835938 4898.71630859375 1512.9482421875 4898.73388671875 Z M 1514.439697265625 4899.458984375 C 1514.372314453125 4899.41796875 1514.305541992188 4899.37841796875 1514.23974609375 4899.34033203125 C 1514.306030273438 4899.37890625 1514.371704101563 4899.41748046875 1514.439697265625 4899.458984375 Z M 1513.926025390625 4899.1689453125 C 1513.867553710938 4899.138671875 1513.8076171875 4899.1064453125 1513.751098632813 4899.07861328125 C 1513.808227539063 4899.10693359375 1513.866943359375 4899.138671875 1513.926025390625 4899.1689453125 Z M 1513.390747070313 4898.912109375 C 1513.350708007813 4898.89453125 1513.311279296875 4898.87744140625 1513.27294921875 4898.861328125 C 1513.3115234375 4898.87744140625 1513.350341796875 4898.89453125 1513.390747070313 4898.912109375 Z">
					</path>
				</svg>
				<svg class="Shape_328_d" viewBox="1512.315 4898.39 5.173 4.703">
					<path class="Shape_328_d_Class" d="M 1517.488647460938 4903.0927734375 L 1516.764770507813 4899.17431640625 C 1516.764770507813 4899.17431640625 1516.677490234375 4898.3896484375 1515.74462890625 4898.3896484375 C 1515.74462890625 4898.3896484375 1512.35498046875 4898.3896484375 1512.35498046875 4898.3896484375 L 1512.315307617188 4898.537109375 C 1512.315307617188 4898.537109375 1513.944580078125 4898.89306640625 1515.507690429688 4900.2275390625 C 1517.001342773438 4901.5029296875 1517.488647460938 4903.0927734375 1517.488647460938 4903.0927734375 Z">
					</path>
				</svg>
				<div class="Paypal_Class">
					<svg class="Shape_327_ea" viewBox="1461.688 4890.035 38.043 25.142">
						<path class="Shape_327_ea_Class" d="M 1463.341552734375 4890.03515625 C 1463.341552734375 4890.03515625 1498.076171875 4890.03515625 1498.076171875 4890.03515625 C 1498.98974609375 4890.03515625 1499.730346679688 4890.8115234375 1499.730346679688 4891.76953125 C 1499.730346679688 4891.76953125 1499.730346679688 4913.44287109375 1499.730346679688 4913.44287109375 C 1499.730346679688 4914.400390625 1498.98974609375 4915.1767578125 1498.076171875 4915.1767578125 C 1498.076171875 4915.1767578125 1463.341552734375 4915.1767578125 1463.341552734375 4915.1767578125 C 1462.427978515625 4915.1767578125 1461.687622070313 4914.400390625 1461.687622070313 4913.44287109375 C 1461.687622070313 4913.44287109375 1461.687622070313 4891.76953125 1461.687622070313 4891.76953125 C 1461.687622070313 4890.8115234375 1462.427978515625 4890.03515625 1463.341552734375 4890.03515625 Z">
						</path>
					</svg>
					<svg class="Shape_327_copy" viewBox="1461.687 4890.035 37.515 24.551">
						<path class="Shape_327_copy_Class" d="M 1462.095947265625 4914.58544921875 L 1462.09619140625 4914.583984375 C 1461.832275390625 4914.26806640625 1461.68701171875 4913.86279296875 1461.68701171875 4913.443359375 L 1461.68701171875 4891.76953125 C 1461.68701171875 4890.81298828125 1462.42919921875 4890.03466796875 1463.341430664063 4890.03466796875 L 1498.07568359375 4890.03466796875 C 1498.494873046875 4890.03466796875 1498.894653320313 4890.19921875 1499.20166015625 4890.49853515625 L 1462.0966796875 4914.5849609375 L 1462.095947265625 4914.58544921875 Z">
						</path>
					</svg>
					<svg class="Shape_335" viewBox="1464.683 4898.439 17.843 9.557">
						<path class="Shape_335_Class" d="M 1476.336303710938 4907.99658203125 L 1477.632202148438 4905.646484375 L 1476.907836914063 4900.00244140625 L 1478.679077148438 4900.00244140625 L 1478.96484375 4903.3427734375 L 1480.697998046875 4900.00244140625 L 1482.52587890625 4900.00244140625 L 1478.317016601563 4907.99658203125 L 1476.336303710938 4907.99658203125 Z M 1470.78369140625 4903.7802734375 C 1471.05712890625 4902.40673828125 1472.380004882813 4901.970703125 1474.345825195313 4901.970703125 C 1474.462890625 4901.35986328125 1474.073608398438 4901.20703125 1473.412231445313 4901.2294921875 C 1472.74951171875 4901.25146484375 1471.951293945313 4901.49169921875 1471.718505859375 4901.6220703125 L 1471.873779296875 4900.2490234375 C 1472.360229492188 4900.13916015625 1473.02294921875 4899.900390625 1473.859252929688 4899.900390625 C 1475.084838867188 4899.8779296875 1476.448486328125 4900.26953125 1476.136840820313 4901.8623046875 L 1475.378051757813 4905.61181640625 L 1473.606811523438 4905.61181640625 L 1473.722534179688 4905.0439453125 C 1473.341918945313 4905.4619140625 1472.718627929688 4905.72021484375 1472.14013671875 4905.72021484375 C 1471.29931640625 4905.72021484375 1470.553100585938 4905.17431640625 1470.78369140625 4903.7802734375 Z M 1472.594360351563 4903.69287109375 C 1472.340576171875 4904.12890625 1472.671875 4904.49951171875 1473.061157226563 4904.4775390625 C 1473.509521484375 4904.45654296875 1473.898681640625 4904.2373046875 1473.99609375 4903.73583984375 C 1474.014526367188 4903.56201171875 1474.053955078125 4903.40966796875 1474.093383789063 4903.23583984375 C 1473.936889648438 4903.23583984375 1473.801391601563 4903.23583984375 1473.64501953125 4903.23583984375 C 1473.333374023438 4903.23583984375 1472.788940429688 4903.322265625 1472.594360351563 4903.69287109375 Z M 1464.682861328125 4905.61181640625 L 1466.147338867188 4898.439453125 L 1469.45458984375 4898.439453125 C 1470.423950195313 4898.439453125 1471.55224609375 4899.203125 1471.215942382813 4900.880859375 C 1470.919189453125 4902.3623046875 1469.810546875 4903.23583984375 1468.484008789063 4903.23583984375 L 1467.098266601563 4903.23583984375 L 1466.622802734375 4905.61181640625 L 1464.682861328125 4905.61181640625 Z M 1467.375366210938 4901.8623046875 L 1468.28564453125 4901.8623046875 C 1468.780883789063 4901.8623046875 1469.276000976563 4901.42626953125 1469.394287109375 4900.880859375 C 1469.533447265625 4900.33642578125 1469.216918945313 4899.900390625 1468.741455078125 4899.900390625 L 1467.791748046875 4899.900390625 L 1467.375366210938 4901.8623046875 Z">
						</path>
					</svg>
					<svg class="Shape_335_d" viewBox="1481.897 4898.417 14.855 7.304">
						<path class="Shape_335_d_Class" d="M 1487.99658203125 4903.77978515625 C 1488.2724609375 4902.40576171875 1489.61328125 4901.97119140625 1491.60302734375 4901.97119140625 C 1491.740966796875 4901.359375 1491.346923828125 4901.2080078125 1490.677124023438 4901.22998046875 C 1490.00732421875 4901.2509765625 1489.199584960938 4901.4912109375 1488.943481445313 4901.62158203125 L 1489.10107421875 4900.24853515625 C 1489.61328125 4900.13916015625 1490.283081054688 4899.900390625 1491.130249023438 4899.900390625 C 1492.371337890625 4899.8779296875 1493.730712890625 4900.26953125 1493.415405273438 4901.86181640625 L 1492.647094726563 4905.61083984375 L 1490.874145507813 4905.61083984375 L 1490.992309570313 4905.04443359375 C 1490.598876953125 4905.4619140625 1489.963134765625 4905.72021484375 1489.37451171875 4905.72021484375 C 1488.51904296875 4905.72021484375 1487.76318359375 4905.1748046875 1487.99658203125 4903.77978515625 Z M 1489.829956054688 4903.6923828125 C 1489.573852539063 4904.12841796875 1489.928466796875 4904.4990234375 1490.322509765625 4904.47705078125 C 1490.775634765625 4904.4560546875 1491.14990234375 4904.23681640625 1491.248413085938 4903.73681640625 C 1491.287841796875 4903.56201171875 1491.307495117188 4903.4091796875 1491.346923828125 4903.23583984375 C 1491.208984375 4903.23583984375 1491.051391601563 4903.23583984375 1490.913452148438 4903.23583984375 C 1490.57861328125 4903.23583984375 1490.026977539063 4903.32177734375 1489.829956054688 4903.6923828125 Z M 1493.465942382813 4905.61083984375 L 1494.932373046875 4898.41650390625 L 1496.752197265625 4898.41650390625 L 1495.267333984375 4905.61083984375 L 1493.465942382813 4905.61083984375 Z M 1481.896850585938 4905.61083984375 L 1483.3583984375 4898.43994140625 L 1486.656982421875 4898.43994140625 C 1487.605102539063 4898.43994140625 1488.750122070313 4899.2021484375 1488.4140625 4900.88037109375 C 1488.118530273438 4902.36279296875 1487.012817382813 4903.23583984375 1485.66943359375 4903.23583984375 L 1484.306518554688 4903.23583984375 L 1483.812744140625 4905.61083984375 L 1481.896850585938 4905.61083984375 Z M 1484.58349609375 4901.86181640625 L 1485.47119140625 4901.86181640625 C 1485.966186523438 4901.86181640625 1486.479614257813 4901.42578125 1486.597900390625 4900.88037109375 C 1486.716064453125 4900.3359375 1486.420532226563 4899.900390625 1485.926879882813 4899.900390625 L 1484.978759765625 4899.900390625 L 1484.58349609375 4901.86181640625 Z">
						</path>
					</svg>
				</div>
				<div class="Group_19_Class">
					<svg class="Shape_327_eb" viewBox="1416.494 4889.874 38.304 25.142">
						<path class="Shape_327_eb_Class" d="M 1418.159057617188 4889.87353515625 C 1418.159057617188 4889.87353515625 1453.132446289063 4889.87353515625 1453.132446289063 4889.87353515625 C 1454.05224609375 4889.87353515625 1454.7978515625 4890.64990234375 1454.7978515625 4891.607421875 C 1454.7978515625 4891.607421875 1454.7978515625 4913.28125 1454.7978515625 4913.28125 C 1454.7978515625 4914.2392578125 1454.05224609375 4915.01513671875 1453.132446289063 4915.01513671875 C 1453.132446289063 4915.01513671875 1418.159057617188 4915.01513671875 1418.159057617188 4915.01513671875 C 1417.2392578125 4915.01513671875 1416.49365234375 4914.2392578125 1416.49365234375 4913.28125 C 1416.49365234375 4913.28125 1416.49365234375 4891.607421875 1416.49365234375 4891.607421875 C 1416.49365234375 4890.64990234375 1417.2392578125 4889.87353515625 1418.159057617188 4889.87353515625 Z">
						</path>
					</svg>
					<svg class="Shape_329" viewBox="1433.249 4893.459 17.958 17.962">
						<path class="Shape_329_Class" d="M 1433.248657226563 4902.44091796875 C 1433.248657226563 4897.47998046875 1437.268798828125 4893.45947265625 1442.228271484375 4893.45947265625 C 1447.187744140625 4893.45947265625 1451.206665039063 4897.47998046875 1451.206665039063 4902.44091796875 C 1451.206665039063 4907.39990234375 1447.187744140625 4911.421875 1442.228271484375 4911.421875 C 1437.268798828125 4911.421875 1433.248657226563 4907.39990234375 1433.248657226563 4902.44091796875 C 1433.248657226563 4902.44091796875 1433.248657226563 4902.44091796875 1433.248657226563 4902.44091796875 Z">
						</path>
					</svg>
					<svg class="Shape_329_eb" viewBox="1419.49 4893.46 17.959 17.96">
						<path class="Shape_329_eb_Class" d="M 1428.469970703125 4911.419921875 C 1423.518676757813 4911.419921875 1419.490478515625 4907.39111328125 1419.490478515625 4902.439453125 C 1419.490478515625 4897.48828125 1423.518676757813 4893.4599609375 1428.469970703125 4893.4599609375 C 1431.325439453125 4893.4599609375 1433.946411132813 4894.77197265625 1435.660766601563 4897.06005859375 L 1434.46044921875 4897.06005859375 L 1434.46044921875 4897.66064453125 L 1436.073608398438 4897.66064453125 C 1436.194458007813 4897.85205078125 1436.308715820313 4898.0498046875 1436.414306640625 4898.24951171875 L 1433.860229492188 4898.24951171875 L 1433.860229492188 4898.85009765625 L 1436.703369140625 4898.85009765625 C 1436.791015625 4899.05078125 1436.870239257813 4899.25244140625 1436.93994140625 4899.4501953125 L 1433.259887695313 4899.4501953125 L 1433.259887695313 4900.05078125 L 1437.128295898438 4900.05078125 C 1437.341796875 4900.82568359375 1437.449462890625 4901.62890625 1437.449462890625 4902.439453125 C 1437.449462890625 4903.46923828125 1437.27685546875 4904.478515625 1436.936279296875 4905.439453125 L 1433.259887695313 4905.439453125 L 1433.259887695313 4906.03955078125 L 1436.698852539063 4906.03955078125 C 1436.608520507813 4906.24609375 1436.512329101563 4906.4443359375 1436.4140625 4906.63037109375 L 1433.860229492188 4906.63037109375 L 1433.860229492188 4907.23046875 L 1436.066528320313 4907.23046875 C 1435.933715820313 4907.4404296875 1435.794311523438 4907.6416015625 1435.653198242188 4907.82958984375 L 1434.46044921875 4907.82958984375 L 1434.46044921875 4908.4296875 L 1435.160278320313 4908.4296875 C 1433.457641601563 4910.33056640625 1431.018798828125 4911.419921875 1428.469970703125 4911.419921875 Z">
						</path>
					</svg>
					<div class="MasterCard_Class">
						<span>MasterCard</span>
					</div>
				</div>
				<div class="Western-union_Class">
					<svg class="Shape_327_ee" viewBox="1370.627 4890.072 38.313 25.143">
						<path class="Shape_327_ee_Class" d="M 1372.292358398438 4890.072265625 C 1372.292358398438 4890.072265625 1407.274169921875 4890.072265625 1407.274169921875 4890.072265625 C 1408.194091796875 4890.072265625 1408.93994140625 4890.8486328125 1408.93994140625 4891.80615234375 C 1408.93994140625 4891.80615234375 1408.93994140625 4913.48193359375 1408.93994140625 4913.48193359375 C 1408.93994140625 4914.439453125 1408.194091796875 4915.21533203125 1407.274169921875 4915.21533203125 C 1407.274169921875 4915.21533203125 1372.292358398438 4915.21533203125 1372.292358398438 4915.21533203125 C 1371.372314453125 4915.21533203125 1370.626586914063 4914.439453125 1370.626586914063 4913.48193359375 C 1370.626586914063 4913.48193359375 1370.626586914063 4891.80615234375 1370.626586914063 4891.80615234375 C 1370.626586914063 4890.8486328125 1371.372314453125 4890.072265625 1372.292358398438 4890.072265625 Z">
						</path>
					</svg>
					<svg class="WESTERN_UNION" viewBox="1373.617 4898.452 26.344 8.376">
						<path class="WESTERN_UNION_Class" d="M 1393.315063476563 4906.63623046875 C 1393.057739257813 4906.50927734375 1392.849609375 4906.30615234375 1392.690795898438 4906.0302734375 C 1392.530639648438 4905.75439453125 1392.450561523438 4905.408203125 1392.450561523438 4904.9921875 C 1392.450561523438 4904.412109375 1392.609497070313 4903.9599609375 1392.924682617188 4903.63623046875 C 1393.2412109375 4903.3134765625 1393.680786132813 4903.15234375 1394.24609375 4903.15234375 C 1394.823608398438 4903.15234375 1395.269409179688 4903.31103515625 1395.582153320313 4903.62890625 C 1395.89501953125 4903.94677734375 1396.051391601563 4904.39111328125 1396.051391601563 4904.9638671875 C 1396.051391601563 4905.37890625 1395.983642578125 4905.7197265625 1395.846923828125 4905.98583984375 C 1395.710327148438 4906.251953125 1395.511962890625 4906.45751953125 1395.254638671875 4906.6064453125 C 1394.995971679688 4906.75439453125 1394.67333984375 4906.828125 1394.287963867188 4906.828125 C 1393.896362304688 4906.828125 1393.5712890625 4906.76416015625 1393.315063476563 4906.63623046875 Z M 1393.721435546875 4904.21875 C 1393.590942382813 4904.37646484375 1393.5244140625 4904.634765625 1393.5244140625 4904.9970703125 C 1393.5244140625 4905.35546875 1393.589721679688 4905.61376953125 1393.72021484375 4905.7705078125 C 1393.850830078125 4905.92822265625 1394.028076171875 4906.0068359375 1394.252197265625 4906.0068359375 C 1394.483764648438 4906.0068359375 1394.662353515625 4905.92919921875 1394.787963867188 4905.775390625 C 1394.914794921875 4905.62255859375 1394.9775390625 4905.3466796875 1394.9775390625 4904.94921875 C 1394.9775390625 4904.6142578125 1394.912353515625 4904.3701171875 1394.779296875 4904.21484375 C 1394.647583007813 4904.06103515625 1394.468994140625 4903.9833984375 1394.24365234375 4903.9833984375 C 1394.02685546875 4903.9833984375 1393.853271484375 4904.0625 1393.721435546875 4904.21875 Z M 1383.8095703125 4906.79248046875 C 1383.608764648438 4906.76806640625 1383.441284179688 4906.7197265625 1383.30712890625 4906.64697265625 C 1383.1728515625 4906.57568359375 1383.049682617188 4906.4736328125 1382.938842773438 4906.34033203125 C 1382.828002929688 4906.208984375 1382.751708984375 4906.072265625 1382.709838867188 4905.931640625 C 1382.643310546875 4905.705078125 1382.610107421875 4905.50439453125 1382.610107421875 4905.33056640625 L 1382.610107421875 4903.212890625 L 1383.681396484375 4903.212890625 L 1383.681396484375 4905.38134765625 C 1383.681396484375 4905.57470703125 1383.734375 4905.72607421875 1383.84033203125 4905.83544921875 C 1383.944946289063 4905.94384765625 1384.09033203125 4905.998046875 1384.277465820313 4905.998046875 C 1384.462158203125 4905.998046875 1384.607543945313 4905.9453125 1384.712158203125 4905.837890625 C 1384.81689453125 4905.72998046875 1384.869750976563 4905.5771484375 1384.869750976563 4905.38134765625 L 1384.869750976563 4903.212890625 L 1385.941162109375 4903.212890625 L 1385.941162109375 4905.33056640625 C 1385.941162109375 4905.54150390625 1385.9091796875 4905.73828125 1385.845092773438 4905.92578125 C 1385.781127929688 4906.11279296875 1385.681274414063 4906.275390625 1385.544677734375 4906.41455078125 C 1385.407958984375 4906.5546875 1385.263916015625 4906.6533203125 1385.113647460938 4906.7099609375 C 1384.905517578125 4906.78857421875 1384.654296875 4906.828125 1384.362426757813 4906.828125 C 1384.193725585938 4906.828125 1384.009033203125 4906.81591796875 1383.8095703125 4906.79248046875 Z M 1398.948974609375 4906.76806640625 L 1397.647338867188 4904.81591796875 L 1397.647338867188 4906.76806640625 L 1396.637573242188 4906.76806640625 L 1396.637573242188 4903.212890625 L 1397.640014648438 4903.212890625 L 1398.948974609375 4905.17919921875 L 1398.948974609375 4903.212890625 L 1399.961303710938 4903.212890625 L 1399.961303710938 4906.76806640625 L 1398.948974609375 4906.76806640625 Z M 1388.970581054688 4906.76806640625 L 1387.6689453125 4904.81591796875 L 1387.6689453125 4906.76806640625 L 1386.659057617188 4906.76806640625 L 1386.659057617188 4903.212890625 L 1387.662719726563 4903.212890625 L 1388.970581054688 4905.17919921875 L 1388.970581054688 4903.212890625 L 1389.982788085938 4903.212890625 L 1389.982788085938 4906.76806640625 L 1388.970581054688 4906.76806640625 Z M 1390.740112304688 4906.75927734375 L 1390.740112304688 4903.21044921875 L 1391.820068359375 4903.21044921875 L 1391.820068359375 4906.75927734375 L 1390.740112304688 4906.75927734375 Z M 1382.534912109375 4901.77783203125 C 1382.30712890625 4901.54541015625 1382.177856445313 4901.24951171875 1382.148315429688 4900.89013671875 L 1383.17041015625 4900.82470703125 C 1383.192626953125 4900.99462890625 1383.236938476563 4901.1240234375 1383.3046875 4901.212890625 C 1383.415405273438 4901.35693359375 1383.574340820313 4901.4296875 1383.778686523438 4901.4296875 C 1383.9326171875 4901.4296875 1384.050903320313 4901.392578125 1384.133422851563 4901.31884765625 C 1384.217163085938 4901.24462890625 1384.2578125 4901.15966796875 1384.2578125 4901.0625 C 1384.2578125 4900.9716796875 1384.218383789063 4900.8876953125 1384.139526367188 4900.81494140625 C 1384.060791015625 4900.7421875 1383.877197265625 4900.6748046875 1383.589111328125 4900.609375 C 1383.11865234375 4900.5009765625 1382.782470703125 4900.35693359375 1382.581787109375 4900.17724609375 C 1382.379760742188 4899.99853515625 1382.27880859375 4899.76953125 1382.27880859375 4899.4912109375 C 1382.27880859375 4899.30908203125 1382.33056640625 4899.13671875 1382.433959960938 4898.97412109375 C 1382.537475585938 4898.8115234375 1382.692626953125 4898.68359375 1382.900756835938 4898.5908203125 C 1383.10888671875 4898.49755859375 1383.393310546875 4898.45166015625 1383.75537109375 4898.45166015625 C 1384.199951171875 4898.45166015625 1384.53857421875 4898.53564453125 1384.771240234375 4898.70556640625 C 1385.004028320313 4898.87451171875 1385.143188476563 4899.1416015625 1385.1875 4899.5107421875 L 1384.17529296875 4899.5712890625 C 1384.148193359375 4899.4111328125 1384.091552734375 4899.29541015625 1384.00537109375 4899.22265625 C 1383.919067382813 4899.14990234375 1383.800903320313 4899.11328125 1383.648193359375 4899.11328125 C 1383.523803710938 4899.11328125 1383.43017578125 4899.14013671875 1383.3662109375 4899.1943359375 C 1383.303344726563 4899.24853515625 1383.271362304688 4899.31494140625 1383.271362304688 4899.3916015625 C 1383.271362304688 4899.4482421875 1383.298461914063 4899.5 1383.350219726563 4899.54541015625 C 1383.400634765625 4899.59228515625 1383.521362304688 4899.63525390625 1383.711059570313 4899.67578125 C 1384.18017578125 4899.779296875 1384.516357421875 4899.88427734375 1384.719604492188 4899.98974609375 C 1384.922729492188 4900.095703125 1385.070556640625 4900.2275390625 1385.162841796875 4900.38427734375 C 1385.255249023438 4900.54052734375 1385.30078125 4900.71630859375 1385.30078125 4900.90966796875 C 1385.30078125 4901.1376953125 1385.2392578125 4901.34814453125 1385.116088867188 4901.54052734375 C 1384.992919921875 4901.732421875 1384.820556640625 4901.87890625 1384.598876953125 4901.97900390625 C 1384.37841796875 4902.0771484375 1384.098876953125 4902.1279296875 1383.7626953125 4902.1279296875 C 1383.171630859375 4902.1279296875 1382.762817382813 4902.0107421875 1382.534912109375 4901.77783203125 Z M 1398.948974609375 4902.0673828125 L 1397.647338867188 4900.1142578125 L 1397.647338867188 4902.0673828125 L 1396.637573242188 4902.0673828125 L 1396.637573242188 4898.51220703125 L 1397.640014648438 4898.51220703125 L 1398.948974609375 4900.47900390625 L 1398.948974609375 4898.51220703125 L 1399.961303710938 4898.51220703125 L 1399.961303710938 4902.0673828125 L 1398.948974609375 4902.0673828125 Z M 1395.073608398438 4902.0673828125 L 1394.499755859375 4900.97998046875 C 1394.425903320313 4900.83984375 1394.36181640625 4900.74853515625 1394.30517578125 4900.70654296875 C 1394.227661132813 4900.6513671875 1394.138916015625 4900.6240234375 1394.041625976563 4900.6240234375 L 1393.94677734375 4900.6240234375 L 1393.94677734375 4902.0673828125 L 1392.868041992188 4902.0673828125 L 1392.868041992188 4898.51220703125 L 1394.657348632813 4898.51220703125 C 1394.989868164063 4898.51220703125 1395.243530273438 4898.54052734375 1395.41845703125 4898.599609375 C 1395.594482421875 4898.65771484375 1395.736083984375 4898.76611328125 1395.84326171875 4898.92236328125 C 1395.950439453125 4899.0810546875 1396.004638671875 4899.27197265625 1396.004638671875 4899.49853515625 C 1396.004638671875 4899.69677734375 1395.962768554688 4899.86669921875 1395.881469726563 4900.009765625 C 1395.798950195313 4900.15234375 1395.685668945313 4900.26806640625 1395.541625976563 4900.35693359375 C 1395.450439453125 4900.41357421875 1395.324829101563 4900.46044921875 1395.164794921875 4900.49853515625 C 1395.292846679688 4900.54150390625 1395.386352539063 4900.5859375 1395.4443359375 4900.62890625 C 1395.483642578125 4900.65869140625 1395.541625976563 4900.72021484375 1395.615478515625 4900.81640625 C 1395.690551757813 4900.9111328125 1395.741088867188 4900.98486328125 1395.766967773438 4901.03662109375 L 1396.28662109375 4902.0673828125 L 1395.073608398438 4902.0673828125 Z M 1393.94677734375 4899.95166015625 L 1394.400024414063 4899.95166015625 C 1394.447998046875 4899.95166015625 1394.542846679688 4899.93701171875 1394.684448242188 4899.90380859375 C 1394.754638671875 4899.88916015625 1394.8125 4899.85205078125 1394.858154296875 4899.79296875 C 1394.903686523438 4899.732421875 1394.92578125 4899.66357421875 1394.92578125 4899.5859375 C 1394.92578125 4899.4716796875 1394.89013671875 4899.3828125 1394.818725585938 4899.3212890625 C 1394.74853515625 4899.2607421875 1394.6142578125 4899.22998046875 1394.41845703125 4899.22998046875 L 1393.94677734375 4899.22998046875 L 1393.94677734375 4899.95166015625 Z M 1389.344848632813 4902.0673828125 L 1389.344848632813 4898.51220703125 L 1392.222778320313 4898.51220703125 L 1392.222778320313 4899.27099609375 L 1390.421142578125 4899.27099609375 L 1390.421142578125 4899.8359375 L 1392.093505859375 4899.8359375 L 1392.093505859375 4900.5615234375 L 1390.421142578125 4900.5615234375 L 1390.421142578125 4901.26220703125 L 1392.275756835938 4901.26220703125 L 1392.275756835938 4902.0673828125 L 1389.344848632813 4902.0673828125 Z M 1386.6923828125 4902.0673828125 L 1386.6923828125 4899.39013671875 L 1385.597534179688 4899.39013671875 L 1385.597534179688 4898.51220703125 L 1388.862182617188 4898.51220703125 L 1388.862182617188 4899.39013671875 L 1387.766235351563 4899.39013671875 L 1387.766235351563 4902.0673828125 L 1386.6923828125 4902.0673828125 Z M 1378.827026367188 4902.0673828125 L 1378.827026367188 4898.51220703125 L 1381.704956054688 4898.51220703125 L 1381.704956054688 4899.27099609375 L 1379.9033203125 4899.27099609375 L 1379.9033203125 4899.8359375 L 1381.574462890625 4899.8359375 L 1381.574462890625 4900.5615234375 L 1379.9033203125 4900.5615234375 L 1379.9033203125 4901.26220703125 L 1381.756713867188 4901.26220703125 L 1381.756713867188 4902.0673828125 L 1378.827026367188 4902.0673828125 Z M 1376.65966796875 4902.0673828125 L 1376.050170898438 4899.82861328125 L 1375.442993164063 4902.0673828125 L 1374.39013671875 4902.0673828125 L 1373.616821289063 4898.51220703125 L 1374.636474609375 4898.51220703125 L 1375.00341796875 4900.50244140625 L 1375.54150390625 4898.51220703125 L 1376.557495117188 4898.51220703125 L 1377.096923828125 4900.5 L 1377.4638671875 4898.51220703125 L 1378.478515625 4898.51220703125 L 1377.712646484375 4902.0673828125 L 1376.65966796875 4902.0673828125 Z">
						</path>
					</svg>
					<svg class="Shape_338" viewBox="1401.76 4898.45 4.191 8.38">
						<path class="Shape_338_Class" d="M 1404.749755859375 4906.83056640625 L 1404.749755859375 4898.4501953125 L 1405.950439453125 4898.4501953125 L 1405.950439453125 4906.83056640625 L 1404.749755859375 4906.83056640625 Z M 1401.759765625 4906.83056640625 L 1401.759765625 4898.4501953125 L 1402.96044921875 4898.4501953125 L 1402.96044921875 4906.83056640625 L 1401.759765625 4906.83056640625 Z">
						</path>
					</svg>
				</div>
			</div>
		</div>
		<svg class="Rectangle_1_copy_16">
			<rect class="Rectangle_1_copy_16_Class" rx="0" ry="0" x="0" y="0" width="1920" height="2">
			</rect>
		</svg>
		<svg class="Rectangle_1_copy_30">
			<rect class="Rectangle_1_copy_30_Class" rx="0" ry="0" x="0" y="0" width="1170" height="2">
			</rect>
		</svg>
		<div class="Follow_Us_Class">
			<span>Follow Us</span>
		</div>
		<div class="Since_the_1500s_when_an_unknow_Class">
			<span>Since the 1500s, when an unknown printer took a galley of type and scrambled.</span>
		</div>
		<div class="Contact_Us_Class">
			<span>Contact Us</span>
		</div>
		<div class="My_Company__4578_Marmora_Road__Class">
			<span>My Company , 4578 Marmora Road, Glasgow <br/>D04 89GR<br/>Call us now: 0123-456-789<br/>Email: support@whatever.com</span>
		</div>
		<div class="Infomation_Class">
			<div class="Infomation_eo_Class">
				<span>Infomation</span>
			</div>
			<div class="About_Us_Infomation_Privacy_Po_Class">
				<span>About Us<br/>Infomation<br/>Privacy Policy<br/>Terms & Conditions</span>
			</div>
		</div>
		<div class="Service_Class">
			<div class="Service_er_Class">
				<span>Service</span>
			</div>
			<div class="About_Us_Infomation_Privacy_Po_es_Class">
				<span>About Us<br/>Infomation<br/>Privacy Policy<br/>Terms & Conditions</span>
			</div>
		</div>
		<div class="Extras_Class">
			<div class="Extras_eu_Class">
				<span>Extras</span>
			</div>
			<div class="About_Us_Infomation_Privacy_Po_ev_Class">
				<span>About Us<br/>Infomation<br/>Privacy Policy<br/>Terms & Conditions</span>
			</div>
		</div>
		<div class="My_Account_Class">
			<div class="My_Account_ex_Class">
				<span>My Account</span>
			</div>
			<div class="About_Us_Infomation_Privacy_Po_ey_Class">
				<span>About Us<br/>Infomation<br/>Privacy Policy<br/>Terms & Conditions</span>
			</div>
		</div>
		<div class="Userful_Links_Class">
			<div class="Userful_Links_e_Class">
				<span>Userful Links</span>
			</div>
			<div class="About_Us_Infomation_Privacy_Po_e_Class">
				<span>About Us<br/>Infomation<br/>Privacy Policy<br/>Terms & Conditions</span>
			</div>
		</div>
		<svg class="twitter" viewBox="0 48 14.633 11.889">
			<path class="twitter_Class" d="M 14.63267135620117 49.40747833251953 C 14.08851909637451 49.64617538452148 13.50869941711426 49.80438995361328 12.9041862487793 49.8812141418457 C 13.52607345581055 49.50991058349609 14.0007209777832 48.92642974853516 14.22386932373047 48.22315216064453 C 13.64404964447021 48.56884002685547 13.00387001037598 48.81302642822266 12.32162094116211 48.94929122924805 C 11.7710657119751 48.36307144165039 10.9863862991333 47.99999618530273 10.13037776947021 47.99999618530273 C 8.469563484191895 47.99999618530273 7.13250207901001 49.34804153442383 7.13250207901001 51.00061798095703 C 7.13250207901001 51.23839569091797 7.152622699737549 51.46703338623047 7.20200777053833 51.68469619750977 C 4.708048343658447 51.56306076049805 2.501255035400391 50.36774826049805 1.018780708312988 48.54689407348633 C 0.7599649429321289 48.99593734741211 0.6081507205963135 49.50991058349609 0.6081507205963135 50.06320953369141 C 0.6081507205963135 51.10212707519531 1.143158316612244 52.02307510375977 1.940639615058899 52.55625152587891 C 1.458675742149353 52.5471076965332 0.9858568906784058 52.40718841552734 0.5852870345115662 52.1867790222168 C 0.5852870345115662 52.1959228515625 0.5852870345115662 52.20780944824219 0.5852870345115662 52.21969985961914 C 0.5852870345115662 53.67748641967773 1.625122547149658 54.88833618164063 2.988706111907959 55.16727828979492 C 2.744523048400879 55.23403549194336 2.478390693664551 55.26604461669922 2.20219898223877 55.26604461669922 C 2.010144710540771 55.26604461669922 1.816261649131775 55.25506973266602 1.634267807006836 55.21482849121094 C 2.022948026657104 56.4028205871582 3.125887393951416 57.27620697021484 4.437342643737793 57.30456161499023 C 3.416712284088135 58.10295867919922 2.120803833007813 58.58400726318359 0.7178954482078552 58.58400726318359 C 0.471883237361908 58.58400726318359 0.2359312325716019 58.57302856445313 -2.09808349609375e-05 58.5428466796875 C 1.328810811042786 59.3997802734375 2.903653860092163 59.88905334472656 4.601961135864258 59.88905334472656 C 10.12214374542236 59.88905334472656 13.14013957977295 55.31634140014648 13.14013957977295 51.35271453857422 C 13.14013957977295 51.22010803222656 13.13556385040283 51.09207153320313 13.12916278839111 50.96494674682617 C 13.72453117370605 50.54242706298828 14.2247838973999 50.01474380493164 14.63267135620117 49.40747833251953 Z">
			</path>
		</svg>
		<svg class="facebook" viewBox="126.682 0 7.643 15.13">
			<path class="facebook_Class" d="M 126.9260787963867 8.058198928833008 L 128.5845336914063 8.058198928833008 L 128.5845336914063 14.88590621948242 C 128.5845336914063 15.02071762084961 128.6937561035156 15.12993621826172 128.8285675048828 15.12993621826172 L 131.6405944824219 15.12993621826172 C 131.775390625 15.12993621826172 131.8846130371094 15.02071666717529 131.8846130371094 14.88590621948242 L 131.8846130371094 8.090378761291504 L 133.7911987304688 8.090378761291504 C 133.9151611328125 8.090378761291504 134.0194702148438 7.997353553771973 134.0336303710938 7.874215126037598 L 134.3231811523438 5.360607147216797 C 134.3311462402344 5.291459083557129 134.3092651367188 5.22219181060791 134.2629699707031 5.170300483703613 C 134.2166748046875 5.118380546569824 134.1503753662109 5.088652610778809 134.080810546875 5.088652610778809 L 131.8847351074219 5.088652610778809 L 131.8847351074219 3.51298189163208 C 131.8847351074219 3.03801417350769 132.1404724121094 2.797146797180176 132.6449584960938 2.797146797180176 C 132.7168426513672 2.797146797180176 134.080810546875 2.797146797180176 134.080810546875 2.797146797180176 C 134.2156372070313 2.797146797180176 134.3248596191406 2.68786883354187 134.3248596191406 2.553117752075195 L 134.3248596191406 0.2458319067955017 C 134.3248596191406 0.1110218241810799 134.2156372070313 0.001802586251869798 134.080810546875 0.001802586251869798 L 132.1019592285156 0.001802586251869798 C 132.0880126953125 0.001122924848459661 132.0570068359375 0 132.0113220214844 0 C 131.66796875 0 130.4745178222656 0.06740503758192062 129.5317687988281 0.9346873164176941 C 128.4871978759766 1.895792961120605 128.6324310302734 3.046524524688721 128.6671142578125 3.24605131149292 L 128.6671142578125 5.088593482971191 L 126.9260482788086 5.088593482971191 C 126.7912368774414 5.088593482971191 126.6820220947266 5.197812080383301 126.6820220947266 5.33262300491333 L 126.6820220947266 7.814139366149902 C 126.6820526123047 7.948920726776123 126.7912673950195 8.058198928833008 126.9260787963867 8.058198928833008 Z">
			</path>
		</svg>
	</div>
	<div class="Scroll_Group_7_Class">
		<img class="Image_4_Class" src="Image_4.png" srcset="Image_4.png 1x">
	</div>
	<!-- <img class="waterproof_class_Class" src="waterproof_class.png" srcset="waterproof_class.png 1x"> -->
</div>


</body>
</html>