<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"src="/js/login.js" defer></script>
    <title>Login</title>
</head>
<body>
    <form method="POST" action="#" id='form'>
        <input type="email" name="email" placeholer="email" reqired>
        <input type="password" placeholder="password" name="password" required>
        <input type="submit" name="sumbit" id='submit'>
    </form>
    <p><%= message %></p>
</body>
</html>